.contact-us-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.contact-us-text strong{
  font-size: 25px;
}

.contact-us-text p{
  width: 255px;
  line-height: 24px;
}

.form-input{
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.form-input .message-box{
  height: 70px;
}

.form-input .submit-btn{
  background-color: black;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.contact-us-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 100px;
}
.contact-us-submit input{
  width: 400px;
  height: 30px;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.hamburger-menu{
  display: none;
}

@media screen and (max-width: 801px){
  .contact-us-submit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hidden-hamburger{
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu button{
    border: none;
    background: none;
  }

  .portfolio-text p {
    text-align: center;
  } 
}
