@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: Crimson Text, sans-serif;
}

a {
  text-decoration: none;
}

section {
  padding-left: 200px;
  padding-right: 200px;
}

/* header */
header {
  background-color: #74C69D;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-bar .logo img {
  width: 40px;
}

.hamburger-menu{
  display: none;
}

.hidden-hamburger {
  display: flex;
  gap: 30px;
}

.hidden-hamburger a {
  color: white;
  text-decoration: none;
}

.header-main {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.header-text {
  color: white;
  max-width: 300px;
}

.header-text button {
  background-color: white;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
}

.header-main .header-img img{
  width: 450px;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu input {
  display: none;
}

.hamburger-menu svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger-menu input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger-menu input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


/*end of header */

/* main */
.link-talents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.link-talents button {
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.main-text {
  text-align: center;
}

.main-text strong {
  color: #74C69D;
  font-family: sans-serif;
}

.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 40px;
}

.media-link img {
  width: 150px;
}

.main-cmm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.communication-img img {
  width: 400px;
}

.communication-text {
  max-width: 400px;
}

communication-text p {
  color: #6d6d6d85;
}

.main-cmm button {
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
}

.talent-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 45px;
}

.talent-text {
  text-align: center;
}

.card-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
}

.talent-title {
  color: #74C69D;
  font-family: sans-serif;
}

.card-services .card-1,
.card-2,
.card-3,
.card-4 {
  border-radius: 5px;
  width: 200px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-services img {
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
}

.card-services .person-name-work {
  margin-right: 55px;
}

.card-services .person-name-work p {
  font-family: sans-serif;
  color: #00000085;
  font-size: 10px;
}

.talent-plans .view-button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  width: 170px;
  height: 48px;
  font-family: sans-serif;
  cursor: pointer;
}

/*end of main */

/* footer */
.footer-social-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #74C69D;
  height: 125px;
}

.social-media-link {
  display: flex;
  gap: 20px;
}

.date-copyright {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
}

.copyright {
  font-size: 20px;
}

@media screen and (max-width: 801px){
  .main-cmm{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .communication-img img{
    width: 100%;
  }
  
  section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hidden-hamburger{
    display: none;
  }

  .header-main .header-img img{
    width: 100%;
  }

  .header-main{
    display: flex;
    flex-direction: column-reverse;
  }

  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu button{
    border: none;
    background: none;
  }
}

@media screen and (max-width: 892px) {
  .footer-social-copyright{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
  .main-cmm{
    gap: 40px;
  }
}